<div class="content" id="content_communaute_details">

	<section class="section details">
		<div class="row">
			<div class="col-vxs-12 col-xs-6 col-sm-5">
				<div class="avatar-wrap">
					<img class="avatar" src="/{{communaute.picture}}" alt="Hetta Van Deventer">
				</div>
			</div>
			<div class="col-vxs-12 col-xs-6 col-sm-7">
				<div class="infos">
					<h1 class="name">{{communaute.name}} </h1>
					<p class="level">
						<span class="stars" ng-repeat="starIndex in communaute.stars">
							<span class="glyphicon glyphicon-star"></span>
						</span>
						<span class="status">{{communaute.status}}</span>
					</p>
					<p class="city"><span class="fwb">Ville : </span>{{communaute.city}}</p>
					<p class="age"><span class="fwb">Age : </span>{{communaute.age}} ans</p>
					<p class="shared"><span class="fwb">{{communaute.firstname}}</span> a partagé <span class="nb">{{communaute.countRecipes}} recettes</span></p>
					<p class="bio"><span class="fwb">BIO : </span>
					{{communaute.bio}}
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Afficher le bloc ci-dessous uniquement si lutilisateur connecté se rend sur sa propre page -->
	<section class="section newrecette">
		<div class="row">
			<div class="col-xs-12">
				<p class="c">Vous en avez sous la toque ?!</p>
				<p class="b">
					<a href="/recettesAdd" class="btn btn_color1"><span class="glyphicon glyphicon-plus-sign"></span><span>Créez une nouvelle recette</span></a>
				</p>
			</div>
		</div>
	</section>

	<section class="section">
		<h2 class="title">~ Les recettes de Hetta ~</h2>
		<p ng-show="communaute.countRecipes==0" class=" col-xs-12 blank">{{communaute.name}} n'a pas encore posté de recette</p>
		<div class="recettes row">
			<div class="col-xs-6 col-sm-3 recette" ng-repeat="recette in communaute.recettes 
			| orderBy:'-timestamp'">
				<recette recette="recette" />
			</div>
		</div>
	</section>
</div>