<div class="content" id="content_recettes_details">

	<section class="section">
		<div class="row">
			<div class="col-xs-4">
				<img class="recette_img" src="{{recette.picture}}" alt="Le tajine de ta maman">
			</div>
			<div class="col-xs-8">
				<h1 class="rec_name">{{recette.name}}</h1>
				<p class="rec_note">
					<span class="stars" ng-init="initHearts(recette.note)"ng-repeat="heartIndex in recette.hearts">
											<span class="star glyphicon glyphicon-heart"></span>

					</span>
					<span class="notes">| {{recette.note}}/5 - {{recette.vote}} votes</span>
				</p>
				<div class="ingredients_list">
					<p class="list-title">Ingrédients</p>
					<ul class="list">
						<li class="item" style="float: center;" ng-repeat="ing in recette.ingredientsList">
							<img class="item-img" src="/img/ingredients/{{ing.picture}}" alt="{{ing.name}}">
							<p class="item-name" title="{{ing.name}}">{{ing.name}}</p>
						</li>
					</ul>
				</div>
				<p class="rec_cal">Valeur calorique <span class="for">(100g)</span> : <span class="val">{{recette.calories}} kcal</span></p>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="overline-title"><span class="text">Préparation</span></h2>
			</div>
			<div class="col-xs-12">
				<div ng-bind-html="recette.preparation" ng-bind-html-compile>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="overline-title"><span class="text">Commentaires</span></h2>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="panel">
					<div class="filters">
						<h3 class="panel_title">Donnez-nous votre avis !</h3>
						<form action="">
							<div class="filter">
								<p><label for="">Notez cette recette</label></p>
								<p>
									<select ng-model="comment.mark" name="" id="">
															<option value="5">5</option>
															<option value="4">4</option>
															<option value="3">3</option>
															<option value="2">2</option>
															<option value="1">1</option>
														</select>
								</p>
							</div>
							<div class="filter">
								<p><label for="">Le titre de votre commentaire</label></p>
								<p><input ng-model="comment.title" type="text" placeholder="ex: Amazingue !" required></p>
							</div>
							<div class="filter">
								<p><label for="">Votre commentaire</label></p>
								<textarea ng-model="comment.comment" name="" id="" class="wide" placeholder="ex: Franchement cette NgRecette, c’est de la bombe. Le genre de saveurs qui t’éveillent les papilles, t’as vu ! Woula, j’ai kiffé"
									required></textarea>
							</div>
							<div class="ar">
								<input class="btn btn_color1" value="Poster !" ng-click="postComment(comment)">
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<ul class="comments">
					<li class="comment" ng-repeat="com in recette.comments
					| limitTo:showLimit">
						<p class="name">{{com.title}}<span class="note">{{com.mark}}/5</span></p>
						<p class="by">par <a href="/communaute/{{com.userId}}">{{com.userName}}</a></p>
						<p class="text">{{com.comment}}</p>
					</li>
				</ul>
				<div class="row showmore">
					<div class="col-xs-12">
						<button type="button" class="btn btn_grey" ng-show="show" ng-click="showMore()"><span ng-class="showMoreClass"></span>{{showMoreText}}</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<h2 class="title">~ Vous aimerez aussi... ~</h2>
		<div class="recettes row" ng-controller="RecetteListController">
			{{likes.recettes }}
			<div class="col-xs-6 col-sm-3 recette" ng-init="initRecette(rec)" ng-repeat="rec in recettes   
			| orderBy:'-note'
			| limitTo:4">
				<recette recette="rec" />
			</div>
		</div>
	</section>

</div>