<div class="content" id="content_recettes_details">

	<section class="section">
		<div class="row">
			<div class="col-xs-4">
				<img class="recette_img" src="img/recettes/tajine-de-poulet.jpg" alt="Le tajine de ta maman">
			</div>
			<div class="col-xs-8">
				<h1 class="rec_name">Tajine de poulet</h1>
				<p class="rec_note">
					<span class="stars">
											<span class="star glyphicon glyphicon-heart"></span>
					<span class="star glyphicon glyphicon-heart"></span>
					<span class="star glyphicon glyphicon-heart"></span>
					<span class="star glyphicon glyphicon-heart"></span>
					<span class="star glyphicon glyphicon-heart"></span>
					</span>
					<span class="notes">| 4,8/5 - 120 votes</span>
				</p>
				<div class="ingredients_list">
					<p class="list-title">Ingrédients</p>
					<ul class="list">
						<li class="item">
							<img class="item-img" src="img/ingredients/tomate.jpg" alt="tomate">
							<p class="item-name" title="tomate">tomate</p>
						</li>
						<li class="item">
							<img class="item-img" src="img/ingredients/raisin.jpg" alt="raisin">
							<p class="item-name" title="raisin">raisin</p>
						</li>
						<li class="item">
							<img class="item-img" src="img/ingredients/kiwi.jpg" alt="kiwi">
							<p class="item-name" title="kiwi">kiwi</p>
						</li>
						<li class="item">
							<img class="item-img" src="img/ingredients/pasteque.jpg" alt="pasteque">
							<p class="item-name" title="pasteque">pasteque</p>
						</li>
					</ul>
				</div>
				<p class="rec_cal">Valeur calorique <span class="for">(100g)</span> : <span class="val">270 kcal</span></p>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="overline-title"><span class="text">Préparation</span></h2>
			</div>
			<div class="col-xs-12">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis obcaecati explicabo quisquam est sapiente, nobis, ab
					fugiat temporibus at sunt tenetur? Voluptate modi sit quibusdam illo nobis doloribus inventore voluptates?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui possimus ipsam necessitatibus molestias fugit cumque, sed
					ab architecto recusandae, fuga pariatur cum blanditiis rerum sunt non mollitia eaque iure debitis!Lorem ipsum dolor
					sit amet, consectetur adipisicing elit. A optio, magni, nihil, consectetur necessitatibus repellendus voluptatem, magnam
					expedita accusantium iste inventore itaque ratione quidem et quod. Doloribus, expedita tenetur nam?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam cupiditate voluptatum assumenda, repellat debitis
					earum aperiam odit veniam nulla. Totam at delectus quod cupiditate laboriosam quae numquam, vitae vero omnis!</p>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="overline-title"><span class="text">Commentaires</span></h2>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="panel">
					<div class="filters">
						<h3 class="panel_title">Donnez-nous votre avis !</h3>
						<form action="">
							<div class="filter">
								<p><label for="">Notez cette recette</label></p>
								<p>
									<select name="" id="">
															<option value="5">5</option>
															<option value="4">4</option>
															<option value="3">3</option>
															<option value="2">2</option>
															<option value="1">1</option>
														</select>
								</p>
							</div>
							<div class="filter">
								<p><label for="">Le titre de votre commentaire</label></p>
								<p><input type="text" placeholder="ex: Amazingue !" required></p>
							</div>
							<div class="filter">
								<p><label for="">Votre commentaire</label></p>
								<textarea name="" id="" class="wide" placeholder="ex: Franchement cette NgRecette, c’est de la bombe. Le genre de saveurs qui t’éveillent les papilles, t’as vu ! Woula, j’ai kiffé"
									required></textarea>
							</div>
							<div class="ar">
								<input type="submit" class="btn btn_color1" value="Poster !">
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<ul class="comments">
					<li class="comment">
						<p class="name">Miam miam miaouuu<span class="note">4/5</span></p>
						<p class="by">par <a href="communaute_details.html">Béné du 34</a></p>
						<p class="text">Franchement cette NgRecette, c’est de la bombe. Le genre de saveurs qui t’éveillent les papilles, t’as vu ! Woula,
							j’ai kiffé</p>
					</li>
					<li class="comment">
						<p class="name">Ca pique !<span class="note">2/5</span></p>
						<p class="by">par <a href="communaute_details.html">Ades Vapor</a></p>
						<p class="text">Quelqu'un a mis du piment dans ma sauce, j'ai passé mon dimanche au toilettes. Sinon, tout va bien..</p>
					</li>
				</ul>
				<div class="row showmore">
					<div class="col-xs-12">
						<button type="button" class="btn btn_grey"><span class="glyphicon glyphicon-chevron-down"></span>Afficher d'avantage</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<h2 class="title">~ Vous aimerez aussi... ~</h2>
		<div class="recettes row">
			<div class="col-xs-6 col-sm-3 recette">
				<a href="recettes_details.html">
					<img src="img/recettes/tajine-de-poulet.jpg" alt="Le tajine de ta maman">
					<div class="top" title="note : 2,4/5">
						<span class="note">
												<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						</span>
					</div>
					<div class="bot">
						<p class="name">Tajine de poulet</p>
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-3 recette">
				<a href="recettes_details.html">
					<img src="img/recettes/tajine-de-poulet.jpg" alt="Le tajine de ta maman">
					<div class="top" title="note : 2,4/5">
						<span class="note">
												<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						</span>
					</div>
					<div class="bot">
						<p class="name">Tajine de poulet</p>
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-3 recette">
				<a href="recettes_details.html">
					<img src="img/recettes/tajine-de-poulet.jpg" alt="Le tajine de ta maman">
					<div class="top" title="note : 2,4/5">
						<span class="note">
												<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						</span>
					</div>
					<div class="bot">
						<p class="name">Tajine de poulet</p>
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-3 recette">
				<a href="recettes_details.html">
					<img src="img/recettes/tajine-de-poulet.jpg" alt="Le tajine de ta maman">
					<div class="top" title="note : 2,4/5">
						<span class="note">
												<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						</span>
					</div>
					<div class="bot">
						<p class="name">Tajine de poulet</p>
					</div>
				</a>
			</div>
		</div>
	</section>

</div>